<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBlog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="nav">
        <h2>MyBlog</h2>
        <div class="navbar">
            <ul>
                <li class="itm"><a href="/">HOME</a></li>
                <li class="itm"><a href="/about">ABOUT US</a></li>
                <li class="itm"><a href="/contact">CONTACT US</a></li>
            </ul>
        </div>
    </div>
